.summary-name {
  background-color: #5a5a68;
  width: Fixed (207px) px;
  height: Hug (35px) px;
  padding: 10px 6px 10px 6px;
  gap: 12px;
  border-radius: 6px 0px 0px 0px;
  opacity: 0px;
}

.sidebar {
  width: 250px;
  background-color: #27272f;
  height: 100%;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  color: #ecf0f1;
}
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  height: 17px;
  font-family: Rubik;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.59px;
  text-align: left;
  color: #828293;
  padding: 10px;
  margin: 50px 0;
  cursor: pointer;
}

.sidebar li.active {
  background-color: #3498db;
  border-radius: 5px;
}

.sidebar li ul {
  list-style: none;
  padding-left: 20px;
}

.sidebar li ul li {
  padding: 5px 0;
}
